.spacer {
    flex: 1 1 auto;
}

#footer {
    display: inline-flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
    position: absolute;
    flex-wrap: wrap;
}

@media screen and (max-width: 500) {
    #footer {
        display: block;
        font-size: 1em;
    }
}

a {
    margin-right: 5px;
}