<mat-toolbar id="footer">
    <div>
        <h1>Grocery Store</h1>
    </div>
    <span class="spacer"></span>
    <div>
        <a mat-mini-fab href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fa fa-facebook-f"></i></a>
        <a mat-mini-fab href="https://www.twitter.com" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
        <a mat-mini-fab href="https://www.instagram.com" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
    </div>
    <span class="spacer"></span>
    <div>
        <h1>Copyright {{ year }}</h1>
    </div>
</mat-toolbar>