<div class="center-card">
    <mat-card class="customCard">

        <div *ngIf="!code">
            <mat-card-title>
                I forgot my password
            </mat-card-title>
            <mat-card-content>
                <p>Enter your email and we'll send you a password reset.</p>
            </mat-card-content>
            <form #forgot="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input required matInput name="email" ngModel>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="emailChangeRequest(forgot)">Reset Password</button>
                <mat-error *NgIf="error">
                    Error sending password reset email.
                </mat-error>
            </form>
        </div>
        <div *ngIf="code">
            <form>
                <h1>Please check your email</h1>
                <br>- Grocery Store Team
                <br>
            </form>
        </div>
        <mat-card-actions>
            <a mat-button [routerLink]="'/'">
                <mat-icon>chevron_left</mat-icon>Home </a>
            <a mat-button [routerLink]="'/login'">Login instead</a>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

</div>