<div class="Background-Image">
    <img src=".\assets\Images\Grocery-Background.jpg" width="100%">
</div>


<h1>Categories</h1>

<hr width="700px">

<div class="Category-Container">

    <div class="Diary-Container">
        <p class="Category-Heading">Dairy Products</p>
        <img src=".\assets\Images\Diary.jpg" width="450px">



    </div>

    <div class="Meat-Container">
        <p class="Category-Heading">Meat Products</p>
        <img src=".\assets\Images\Meats.jpg" width="450px">

        
    </div>

    <div class="Vegetables-Container">
        <p class="Category-Heading">Vegetable Products</p>
        <img src=".\assets\Images\Vegetables.jpg" width="450px">

        

    </div>

</div>


<div class="Form-Head-Container">
    <img src=".\assets\Images\Mail.png" width="50px">
    <p class="Contact-us">Contact Us</p>
</div>

<form action="">
    <label class="Form-Container" for="Fname">First Name</label>
    <input id="Fname" type="text" name="Fname" placeholder="Your Name">
    <br><br>

    <label class="Form-Container" for="Lname">Last Name</label>
    <input id="Lname" type="text" name="Lname" placeholder="Last Name">
    <br><br>

    <label class="Form-Container" for="Subject">Subject</label>
    <textarea id="Subject" name="Subject" placeholder="How can we help?"></textarea>
    <br><br>

    <button id="Send-Btn" type="button" name="button">Send</button>

</form>